<div class="post" id="post_{{Model.Id}}">
    <div class="user_name">{{Model.AuthorName}}</div>
    <div>{{Model.Time}}</div>
    <div style="white-space: pre-wrap; border-bottom: 1px solid gray;">{{Model.Content}}</div>
    <a href="/post/{{Model.Id}}">{{Model.CommentsCount}} комментариев</a>
</div>