.footer_spacer{
    height: 290px;
}

.footer{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px 0 60px 0;
    margin: 0;
    background: #171a21;
    background-color: #181A21;
}

.footer_content{
    width: 940px;
    margin: 0px auto;
    padding-top: 16px;
}

.rule{
    height: 8px;
    border-top: 1px solid #363c44;
}

.footer_steam_logo{
    float: right;
    padding-top: 2px;
}

.footer_valve_logo{
    float: left;
    padding-top: 2px;
}

.footer_valve_logo > a > img{
    height: 25px;
    width: auto;
}

.footer_text{
    float: left;
    margin-left: 12px;
    color: #8F98A0;
    font-size: 12px;
    line-height: 16px;
}

.footer_text a{
    color: #C6D4DF;
}

.valve_links{
    margin-top: 8px;
    float: left;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #61686D;
}

.valve_links a{
    color: #C6D4DF;
}

.valve_links img {
    vertical-align: bottom;
}

.footer_text a:hover{
    color: #ffffff;
}

.valve_links a:hover{
    color: #ffffff;
}